.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10rem;
    height: 3rem;
}


.header-menu,.header-menu>li>a{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    text-decoration: none;
} 
.header-menu>li{
    cursor: pointer;
}
.header-menu>li:hover,.header-menu>li>a:hover{
    color: var(--orange);
}
.menu-bar{
    cursor: pointer;
}
@media screen and (max-width:768px){
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}